* {
    font-family: 'Cardo', serif;
    background-color: rgb(121, 166, 250);
}

p,a {
    font-family: 'ASAP', sans-serif;
}

img {
    max-width: 800px;
}

.text-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}