* {
    font-family: 'Cardo', serif;
    background-color: white;
}

p,a {
    font-family: 'ASAP', sans-serif;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:80px
}

#melvin {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: purple
}

li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#art-pieces {
    display:flex;
    flex-flow: row wrap;
    flex-basis: auto;
    flex-grow: 0;
    gap: 20px;
    padding: 20px;
}

#art-pieces div{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #82DEF7
}

#art-pieces img {
    height: 80%;
    margin: 10px;
}

#individual_chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#individual_chapter button {
    width: 20%;
}

#individual_chapter div{
    display: flex;
    flex-direction: row;
}

#individual_chapter img{
    max-height:1000px
}